    <div ng-show="rkState.formComplete">
      <!-- TO DO fix inline quick style addons - - still making some style choices.... -->
      <div class="rk-basic-modal-0" style="background-color: rgba(255, 255, 255, 1);">
        <div class="rk-basic-modal-2" style="background-color:#F6A230">
          <div class="rk-page-buffer"></div>
          <div class="rk-page-buffer"></div>
          <div class="rk-page-buffer"></div>
          <div class="col-xs-12" style="padding:15px;">
            <h2>You have completed the signing process.</h2>
            </strong> A copy of the {{ master.name }} document will be sent to you via email.</strong>
          </div>
          <div class="col-xs-12" style="margin-top:30px;">
            <!-- <img src="{{ master.logo }}" width="140px"> -->
          </div>
          <div class="col-xs-12">
            <h1>TurboSign</h1>
          </div>
        </div>
      </div>
    </div>
