    <div ng-show="rkState.passwordModalOpen">  
      <div class="rk-basic-modal-0">
        <div class="rk-basic-modal-2" style="position:relative; width: 400px; margin:30vh auto; background-color:lightgrey;">
          <div class="row">

            <div class="col-xs-12">
              <a ng-click="rkState.passwordModalOpen = false" class="pull-right"><span class="glyphicon glyphicon-remove rk-black-x pull-right"></span></a>
            </div>

            <div class="rk-page-buffer"></div>
            <div class="rk-page-buffer"></div>

            <div class="col-xs-12">
              <label>This Document is Password Protected</label>
            </div>

            <div class="rk-page-buffer"></div>
            <div class="rk-page-buffer"></div>           
            <div class="rk-page-buffer"></div>

            <div class = "col-xs-12" ng-if="">
              <p>
                This document is not using a password. You may close this modal to continue....
              </p>
            </div>

            <!-- Node needs to set up userAuthentic as a variable to track the session. -->
<!--             <div class = "col-xs-12" ng-if=" (master.usePassword == 'Yes') && reState.userAuthentic">
              <p>
                This document is using a password and the password has been entered correctly.  
                A user session is in progress....you should have been directed to the document view....
              </p>
            </div>

            <div class = "col-xs-12" ng-if=" (master.usePassword == 'Yes') && !rkState.userAuthentic ">
              <p>
                <div class="rk-page-buffer"></div>
                <div class="rk-page-buffer"></div>
                Please enter the the document password to view your document.
                <div class="rk-page-buffer"></div>
                <div class="rk-page-buffer"></div>
                <input type="text" ng-model="rkState.formEntry"/>
                <span ng-init="ValidatePassword(rkState.formEntry)"></span>
                <span ng-if="rkState.userAuthentic"><span ng-init = "rkState.passwordModalOpen = false"></span></span>
              </p>
            </div> -->

          </div>
        </div>
      </div>
    </div>